@model List<ClientVehicleListViewModel>

<div class="container">
    <h2 class="text-center m-5">Nos Véhicules</h2>
    <div class="p-3">
        @foreach (var voiture in Model)
        {
            <a asp-action="Details" asp-controller="Home" asp-route-id="@voiture.VoitureId" class="text-decoration-none text-dark">
                <div class="row m-3 border border-5 rounded-3 align-items-center border-primary border-opacity-50">
                    <div class="col-md-4 col-sm-12 p-0">
                        <img src="~/@((voiture.ImagePath == null) ? "images/utilities/images_indisponibles.png" : @voiture.ImagePath)"
                             alt="Image de @voiture.Marque @voiture.Modele"
                             class="img-fluid w-100" />
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="text-primary">@voiture.Marque @voiture.Modele</h3>
                            <h3 class="text-danger"><strong>@voiture.PrixVente €</strong></h3>
                            <span class="badge @((voiture.DateVente.HasValue) ? "bg-success" : "bg-secondary")" style="font-size: 1.2em;">
                                @(voiture.DateVente.HasValue ? "Vendu" : "Disponible")
                            </span>
                        </div>
                        <p><strong>Année:</strong> @voiture.Annee</p>
                        <p><strong>Marque:</strong> @voiture.Marque</p>
                        <p><strong>Modèle:</strong> @voiture.Modele</p>
                        <p><strong>Finition:</strong> @voiture.Finition</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>